__pycache__/
*.pyc
*.pyo
db.sqlite3
static/
venv/
.ebignore
Procfile
.ebextensions/
.env
favor-18123-firebase-adminsdk-dh8yk-c13e3f49bd.json
firebase_script.py
media/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
